<!DOCTYPE html>
<html lang="en">
    <head> {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Apex City</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppIocco/css/styles.css' %}" rel="stylesheet" />
    </head>
<body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'Inicio' %}"><img src="" alt="Apex"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'Inicio' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Noticias</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Personajes' %}">Personajes</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Armas' %}">Armas</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Usuario' %}">Usuario</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <section>
            <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6">
            <form class="mt-5" action="" method="POST">
                <input type="text" name="nombre" placeholder="usuario">
                <input type="text" name="contraseña" placeholder="contraseña">
                <input type="submit" value="Ingresar">
            </form>
            <a href="% url 'Sign Up' %">Crear Usuario</a>
        </div>
        </div>
        </div>
        </section>

    
</body>
</html>